APP_NAME=ondc-mf-fastapi
ENV=local
DEBUG=true
LOG_LEVEL=INFO
API_PREFIX=/api/v1
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/ondc_mf
DATABASE_SCHEMA=public
REDIS_URL=redis://localhost:6379/0
NO_DATABASE=false
DEBUG_PRINT_PAYLOADS=false

# ONDC subscriber details
ONDC_ENV=staging
ONDC_DOMAIN=ONDC:FIS14
ONDC_COUNTRY=IND
ONDC_CITY=std:080
ONDC_CORE_VERSION=1.2.0
ONDC_CONTEXT_TTL=PT10M
ONDC_SUBSCRIBER_ID=your-domain.com
ONDC_SUBSCRIBER_URI=https://your-domain.com/ondc
ONDC_CALLBACK_URL=/ondc
ONDC_UNIQUE_KEY_ID=key-1
ONDC_SIGNING_PRIVATE_KEY_B64=
ONDC_SIGNING_PUBLIC_KEY_B64=
ONDC_ENCRYPTION_PRIVATE_KEY_B64=
ONDC_ENCRYPTION_PUBLIC_KEY_B64=
ONDC_REGISTRY_PUBLIC_KEY_B64=MCowBQYDK2VuAyEAduMuZgmtpjdCuxv+Nc49K0cB6tL/Dj3HZetvVN7ZekM=
ONDC_REGISTRY_URL=https://staging.registry.ondc.org
ONDC_SUBSCRIBE_URL=
ONDC_GATEWAY_SEARCH_URL=https://staging.gateway.proteantech.in/search
ONDC_LOOKUP_TYPE=BAP
ONDC_REGISTRY_SUBSCRIBER_TYPE=buyerApp
ONDC_REQUEST_TIMEOUT_SECONDS=30
ONDC_LOOKUP_CACHE_SECONDS=900
ONDC_SITE_VERIFICATION_FILE=ondc-site-verification.html
ONDC_VERIFY_CALLBACK_SIGNATURES=true
ONDC_CALLBACK_SIGNING_PUBLIC_KEY_B64=

# Optional auth for your public API layer
INTERNAL_API_KEY=change-me

# Frontend deployment endpoints
VITE_API_BASE_URL=https://ondcapi.walkingtree.tech
VITE_WS_BASE_URL=wss://ondcapi.walkingtree.tech
